* {
  background-color: rgb(35, 35, 36);
}
.App {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h1,
ul {
  display: flex;
  justify-content: center;
}

.Joke {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-style: italic;
}

.Obs {
  margin-top: 0.5px;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.Info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.JokeContainer {
  border-left: 5px solid white;
}

.Container {
  display: flex;
  align-items: center;
}

.Favorite {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
